[push]
	default = simple
[core]
	editor = emacs -nw
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[include]
        path = ~/dotfiles-private/git/git-private
[url "git@github.com:"]
	insteadOf = https://github.com/
