*.elc
emacs/.emacs.d/backups
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projects
emacs/.emacs.d/request
emacs/.emacs.d/var
emacs/.emacs.d/.last-package-update-day
emacs/.emacs.d/cider-repl-history.eld
emacs/.emacs.d/quelpa
emacs/.emacs.d/.cask
emacs/.emacs.d/ensime
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/recentf
emacs/.emacs.d/straight/repos
/emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/eshell/
emacs/.emacs.d/games/
/emacs/.emacs.d/oauth2.plstore
emacs/.emacs.d/url/
emacs/.emacs.d/emojis/
emacs/.emacs.d/meghanada/
emacs/.emacs.d/transient/
local/.local/share/autojump
local/.local/share/konsole
local/.local/share/kxmlgui5
local/.local/share/xorg
config/.config/calibre/fonts/scanner_cache.json
config/.config/calibre/iterator.pickle
config/.config/calibre/gui.json
config/.config/calibre/gui.py
