<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Down</key>
	<array>
		<string>Ctrl+N</string>
	</array>
	<key>Next Page</key>
	<array>
		<string>Ctrl+V</string>
	</array>
	<key>Next Section</key>
	<array>
		<string>Alt+Shift+&gt;</string>
	</array>
	<key>Previous Page</key>
	<array>
		<string>Ctrl+Alt+V</string>
	</array>
	<key>Previous Section</key>
	<array>
		<string>Alt+Shift+&lt;</string>
	</array>
	<key>Print</key>
	<array>
		<string>Ctrl+Alt+K</string>
	</array>
	<key>Up</key>
	<array>
		<string>Ctrl+P</string>
	</array>
</dict>
</plist>
