<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>homebrew.mxcl.emacs</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TMUX</key>
    <string>true</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/instantclient_11_2</string>
    <key>LC_CTYPE</key>
    <string>en_US.UTF-8</string>
    <key>GOOGLE_CLIENT_ID</key>
    <string>705960416213-3u9cvvk4sdb33lj7sag9o4gbd9q1phj3.apps.googleusercontent.com</string>
    <key>GOOGLE_CLIENT_SECRET</key>
    <string>Q01OUlvesV59tLDK-AtsMoNE</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/opt/emacs/bin/emacs</string>
    <string>--daemon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
